/*
	Webcam page;
*/

.webcam {
	margin:auto;
	top:2px;
	position:relative;
	min-width: 320px;
	min-height: 240px;
}

img.pngfont {
	position:absolute;
	/* margin:auto; */
	width: 320px;
	height: 240px;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

#canvas {
	width: 320px;
	height: 240px;
	margin:auto;
	background-color: #fff;
	border: 1px solid #babbbd;
	padding: 10px;
	box-shadow: 1px 1px 1px #babbbd;
	border: 1px solid #babbbd;
}

img.miniature {
	width: 144px;
	height: 108px;
	margin:auto;
	margin-bottom: 4px;
}

.submitdisabled {
	opacity:50%;
}

.submitbutton {
	width:200px;
	height:40px;
	margin:auto;
	margin-bottom: 6px;
	background-color: #2a9d8f;
	color: white;
	font-style: italic;
	border-radius: 8px;
}

.filelabel {
	font-weight: bolder;
	font-style: italic;
	font-size: 1.1em;
	color: #2a9d8f;
}

.filelabelinput {
	font-style: italic;
	background-color: #e5e5e5;
	border-radius: 5px;
	font-size: 0.9em;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
}

/* 
	Modal;
*/

.modal {
    position: fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fade-in .3s both;
}

.modal-wrapper {
    display:flex;
    justify-content:center;
    overflow: auto;
    width:400px;
    min-width: 340px;
    height: 100%;
    padding:20px;
    background-color:#FFF;
    animation: slide-top .5sec both;
}

.js-modal-close {
    position: relative;
    float:right;
    font-size: 1.5rem;
    padding: 1rem;
}

.inputcomment {
	font-size: 0.7rem;
	outline:none;
	border: 1px solid #ccc;
	margin-top: 0.5rem;
	width: 100%;
	height: 1.7rem;
}

#card-size {
	max-width: 320px;
	word-break: break-all;
}

.img-card {
	width:100%;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
} 

@keyframes slide-top {
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}


/*
	Police and pictures etc..;
*/

.like-police {
	font-style: italic;
	font-size: 0.9rem;
}

img.comment {
	margin-top:2px;
	max-width: 21px;
	max-height: 21px;
}

.like {
	outline:none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

p.comment {
	font-size: 0.9rem;
	margin: 0.5rem;
}

b {
	font-style: italic;
	color:blue ;
}

.comment-police {
	font-size:0.9rem;
	font-style: italic;
}

a.comment-link {
	font-style:italic;
	font-size: 0.8rem;
	text-align:center;
}

.delete_picture {
	width: 20px;
	position:absolute;
	margin:5px;
}

.display_min {
	display: inline-block;
	position: relative;
}

.arrow {
	margin-left:20px;
	margin-right:20px;
}

.footer {
	bottom:0px;
	text-align: right;
	padding:5px;
	padding-right:5%;
}

@media screen and (max-width: 330px) {
	canvas {
		width: 256px;
		height: 192px;
	}

	.webcam {
		width: 256px;
		height: 192px;
		margin-left: -20px;
	}

	img.pngfont {
		position:absolute;
		width: 256px;
		height: 192px;
		margin-left: 32px;
	}

	.filelabelinput {
		font-style: italic;
		background-color: #e5e5e5;
		border-radius: 5px;
		font-size: 0.9em;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 3px;
	}
}