
.webcam_container {
	/* border:5px solid #222; */
	margin:0px auto;
	max-height: 495px;
	max-width:660px;
}

.canvas {
	border: 1px solid #222;
	background: grey;
	height:100px;
	width:130px;
}

#videoElement {
	width: 100%;
	height: 100%;
	background-color: #666;
}